body {
	background-color: #ffbb00;
}
.text {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 50%;
	text-align: center;
	font-size: 60px;
	color: #fff;
	transform: translateX(-50%) translateY(-50%);
}
        #container {
            border: 1px solid #ccc; overflow: scroll; width: auto;
        }
        #content {
            background-color: #ccc; width: 250px;
            white-space: nowrap;
        }